*{
  padding: 0;
  margin: 0;
}
button{
    background-color: darkgreen;

    border:none;
    outline: none;
}
body{
    width: 70em;
    background-color: darkgreen;
   
    margin: auto;
}
img{
    width: 6.250em ;
    height: 8.750em;
    cursor:pointer;
}
p{
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    text-transform: uppercase;
    background-color: green;

    font-weight:600;
}  

.contenedorQuieroNoQuieroJ1{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    margin: auto;
    flex-wrap: nowrap;
}

.contenedorQuieroNoQuieroJ2{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    margin: auto;
    flex-wrap: nowrap;
}



.contenedorOptionOneJ1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    flex-wrap: nowrap;

  
    margin-bottom: 5em;
   /* flex-wrap: nowrap;*/
    cursor:default;
    list-style: none;
  
    text-align: center;
    position: relative;
    top: 0.5em; 
    margin-bottom: 15em;
}
.contenedorOptionOne{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    flex-wrap: nowrap;
   
  
    margin-bottom: 5em;
   /* flex-wrap: nowrap;*/
    cursor:default;
    list-style: none;
  
    text-align: center;
    position: relative;
    top: 4.5em;
} 
.nameJ1{
    text-align: center;
    align-self: flex-start;
  
}
.nameJ2{
    text-align: center;
    align-self: center;

}
.top{
    display: flex;
    justify-content: center;
    
    margin-top: 0.7em;
   
    
}
.down{
    display: flex;
    justify-content: center;
    
    
}
.mid{
    text-align: center;
    position:relative;
    bottom:12em;
}
.score-nameJ1{
    position: relative;
    right: 5em;
    align-self: center;
}

.punctuationJ1{
  justify-content: center;
  align-content: center;

}
.punctuationJ2{
    justify-content: center;
    align-content: center;
    
}
.botonEnvidoJ1,.botonRealEnvidoJ1,.botonFaltaEnvidoJ1,.botonTrucoJ1,.botonIrAlMazoJ1{
    background-color: green;
    margin-right: 1em;
    cursor: pointer;
    box-sizing:border-box;
   padding:0.5em 0.5em 0.5em 0.5em;
   
}
.botonEnvido,.botonRealEnvido,.botonFaltaEnvido,.botonTruco,.botonIrAlMazo{
    background-color: green;
    margin-right: 1em;
    cursor: pointer;
  
    box-sizing:border-box;
    padding:0.5em 0.5em 0.5em 0.5em;

}
.botonTrucoJ1,.botonReTrucoJ1,.botonValeCuatroJ1{
    background-color: green;
    margin-right: 1em;
    cursor: pointer;
  
    box-sizing:border-box;
    padding:0.5em 0.5em 0.5em 0.5em;
}
.botonTruco,.botonReTruco,.botonValeCuatro{
    background-color: green;
    margin-right: 1em;
    cursor: pointer;
  
    box-sizing:border-box;
    padding:0.5em 0.5em 0.5em 0.5em;
}
.score-J1{
    align-self: center;
    position: relative;
    left: 2em;
}
.contenedorPuntuacionJ1{
    position: relative;
    display: inline-block;
    text-align: center;
    cursor: default;
   
}
.puntajeJ1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
#puntuacionJ1{
    background-color: darkgreen;
    color:white;
}
#puntuacionJ2{
    background-color: darkgreen;
    color:white;
}
#paqueteEnvidoJ1{
    display: flex;
    flex-direction: row;
}
#paqueteEnvidoJ2{
    display: flex;
    flex-direction: row;
}
#paqueteTrucoJ1{
    display: flex;
    flex-direction: row;
}
#paqueteTrucoJ2{
    display: flex;
    flex-direction: row;
}
/*#reTrucoJ1Boton,#reTrucoJ2Boton,#valeCuatroJ1Boton,#valeCuatroJ2Boton{
    display: none;
}*/
#botonQuieroJ1,#botonNoQuieroJ1{
    background-color: green;
   margin-right: 1em;
   cursor: pointer;
   box-sizing:border-box;
  padding:0.5em 0.5em 0.5em 0.5em;
  display: none;
   

}
#botonQuieroJ2,#botonNoQuieroJ2{
   background-color: green;
   margin-right: 1em;
   cursor: pointer;
   box-sizing:border-box;
  padding:0.5em 0.5em 0.5em 0.5em;
  display: none;
}
#circuloImagen{
    width: 5em;
    height: 5em;
     
    
}
#circuloImagen2{
    width: 3em;
    height: 3em;
    cursor: default;
    
    
}
#circuloImagenJ2{
    width: 3em;
    height: 3em;
    cursor: default;
}
#circulo2Imagen{
    width: 5em;
    height: 5em;
 
}

@media screen and (max-width: 47em) {
    body{
    width: 70%;
    height: 100%;
   
}
    .top{
        display: flex;
        justify-content: center;
       
    }
    .down{
        display: flex;
        justify-content: center;
        
        
    }
    .boton{
        position: relative;
        top:2em;
    }
    .score-nameJ1{
        position: relative;
        right: 1em;
    }
    .contenedorOptionOneJ1{
        display: flex;
        flex-direction: column;
       
       
     
    
        
        margin-bottom: 5em;
       /* flex-wrap: nowrap;*/
        cursor:default;
        list-style: none;
        
        
        
     
        
    }
    .contenedorOptionOne{
        display: flex;
        flex-direction: column;
       
       
        
      
       
       /* flex-wrap: nowrap;*/
        cursor:default;
        list-style: none;
      
        
    } 
 
   
    .botonEnvidoJ1,.botonRealEnvidoJ1,.botonFaltaEnvidoJ1,.botonTrucoJ1,.botonIrAlMazoJ1{
        background-color: green;
       
        cursor: pointer;
     
    
       
    }
    .botonEnvido,.botonRealEnvido,.botonFaltaEnvido,.botonTruco,.botonIrAlMazo{
        background-color: green;
       
        cursor: pointer;
        
     
    
    }
}